node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.test
.env.local

dist/
build/

.DS_Store
Thumbs.db

**/.terraform/*
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
crash.*.log